%head
  %script{:type => "text/javascript", :src => "js/d3.js"}
  %script{:type => "text/javascript", :src => "js/moment-with-langs.js"}
%body
  :css
    body {
    font: 10px sans-serif;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .x.axis path {
    display: none;
    }

    .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    }

  %script{:type => "text/javascript", :src => "js/f1-fastest-laps.js"}
